<nav style="background-color: #657282">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center" style="color: white; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <img src="https://gd-hbimg.huaban.com/7f571640c5fe0efdddd813a6b0c335e823ec75e95b32-se4Ts2_fw1200webp" alt="Title Logo" class="sidenav-logo" style="height: 1.0em; margin-right: 0px; margin-bottom: -2px"> Search Before Move
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger
        show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo" style="background-color: #e9e0d6">
            <li>
                <a href="/dashboard" style="font-size: 18px">
                    <img src="https://gd-hbimg.huaban.com/7527bb9a696a5d8ffcb3374ace0d7611f8e3f7e71517-XTPI7y_fw1200webp" alt="Home Logo" class="sidenav-logo" style="height: 1.0em; margin-right: 0px; margin-bottom: -2px"> Home
                </a>
            </li>
            <li>
                <a href="/dashboard/articles" style="font-size: 18px">
                    <img src="https://gd-hbimg.huaban.com/826e2ddd34971b05c3b9df57ae481e277a061b721310-o6FlAZ_fw1200webp" alt="Latest News Logo" class="sidenav-logo" style="height: 1.0em; margin-right: 0px; margin-bottom: -2px"> Latest News
                </a>
            </li>
            <li>
                <a href="/dashboard/nearby" style="font-size: 18px">
                    <img src="https://gd-hbimg.huaban.com/ebdddd7b212eff328ee1d55b788a2ad25bc4f15a2325-Mz91P9_fw1200webp" alt="Search Nearby Logo" class="sidenav-logo" style="height: 1.5em; margin-right: -3px; margin-bottom: -5px; margin-left: -4px"> Search Nearby
                </a>
            </li>
            <li>
                <a href="/auth/logout" style="font-size: 18px">
                    <img src="https://gd-hbimg.huaban.com/ea6d36ebfe152debe2d3949c927d1088ac8d078f1e34-pLpqPA_fw1200webp" alt="Log Out Logo" class="sidenav-logo" style="height: 1.0em; margin-right: 1px; margin-bottom: -2px; margin-left: 2px"> Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>