<div style="display: flex; align-items: center;">
    <img src="https://gd-hbimg.huaban.com/6bb99dc8b3e83e3c4f592e55c4ee10addfd4c62e1fb7-St0hof_fw1200webp" alt="Image" style="height: 3.5em; margin-right: 5px; margin-bottom: -28px">
    <h3 style="color: #93931; margin-bottom: -3px"><strong>Nearby Places Finder</strong></h3>
</div>
<h5 style="color: #c5b8a5"><strong>Find out what's around your dream home!</strong></h5>
<div class="section">
    <div class="row" style="margin-bottom: -10px">
        <div id="map"></div>
        <div class="form-group">
            <div style="display: flex; align-items: center;">
                <img src="https://gd-hbimg.huaban.com/8c0a36d21919382bdce1265bf19d598be6dff074e002-ahhhSK_fw1200webp"
                        alt="Image" style="height: 1.2em; margin-right: 8px;">
                <label for="location">Enter Location:</label>
            </div>
            <input type="text" class="form-control" id="autocomplete" placeholder="Enter Location:">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group">
            <div class="input-field col s12">
                <div style="display: flex; align-items: center; margin-top: -8px">
                    <img src="https://gd-hbimg.huaban.com/f6831872587a78e551b07ac6a7a230bfb989e4dcf8f-DHLEmT_fw1200webp"
                        alt="Image" style="height: 1.2em; margin-right: 8px;">
                    <label for="placetype">Select Place Type</label>
                </div>
                <select name="placetype" id="placetype">
                    <option value="" disabled selected>Choose a Place Type</option>
                    {{#each placetype}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
    <div class="image-container" style="text-align: center; margin-top: -5px;">
        <img src="https://img.freepik.com/free-vector/real-estate-searching-with-phone_23-2148654927.jpg"
            class="cropped-image" style="width: 50%; display: block; margin: 0 auto;">
    </div>
    <br>
    <table class="table table-bordered table-striped" id="places"></table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        M.Sidenav.init(document.querySelector('.sidenav'))
        M.FormSelect.init(document.querySelector('#placetype'))
    })
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWmpXgx9UtZ4heEc2mBhLlg8GFKk3_hz4&libraries=places&callback=initMap"
    async defer>
    </script>
<script>
    function initMap() {
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')),
            {
                types: ['geocode']
            })

        autocomplete.addListener('place_changed', searchNearbyPlaces)
    }

    document.getElementById('placetype').onchange = searchNearbyPlaces

    function searchNearbyPlaces() {
        document.getElementById('places').innerHTML = ''

        var place = autocomplete.getPlace()
        console.log(place)

        map = new google.maps.Map(document.getElementById('map'), {
            center: place.geometry.loction,
            zoom: 15
        })

        service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
            location: place.geometry.location,
            radius: '5000',
            type: [document.getElementById('placetype').value]
        }, callback)
    }

    function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
            console.log(results.length)
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i])
            }
        }
    }

    function createMarker(place) {
        console.log(place)
        var table = document.getElementById("places")
        var row = table.insertRow()
        var cell1 = row.insertCell(0)

        var googleMapsLink = `https://www.google.com/maps/place/?q=place_id:${place.place_id}`

        cell1.innerHTML = `<strong><span style="font-size: 18px"><a href="${googleMapsLink}" target="_blank">${place.name}</a></span></strong><br>` + `Address: ${place.vicinity}`;
        cell1.style.fontSize = "15px"
        cell1.style.textAlign = "left"
        if (place.photos) {
            let photoUrl = place.photos[0].getUrl()
            let cell2 = row.insertCell(1)
            var img = new Image()
            img.src = photoUrl
            img.style.maxWidth = "250px"
            img.style.maxHeight = "125px"
            cell2.appendChild(img)
        } else {
            let photoUrl = "https://via.placeholder.com/150"
            let cell2 = row.insertCell(1)
            cell2.innerHTML = `<img width="100" height="100" src="${photoUrl}"/>`
        }
    }

</script>